@{
    Layout = null;
}

<div class="alert alert-warning text-center p-4">
    <i class="bi bi-exclamation-triangle-fill text-warning" style="font-size:2rem;"></i>
    <h5 class="mt-3">Atención</h5>
    <p>@ViewBag.MensajeError</p>
</div>
